.hideMenuNav {
  display: none;
}

.showMenuNav {
  display: block;
  position: absolute;
  width: 25%;
  margin-top: 25%;
  border-radius: 10px;
  right: 0;
  opacity: 0.9;
  color: #333333;
  background: #273444;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.dark .showMenuNav {
  background: #1e1e1e;
  color: #cccccc;
}

@media screen and (max-width: 1023px) {
  .showMenuNav {
    margin-top: 50px;
    right: 1px;
  }
}
